*{
    margin: 0;
    padding: 0;
    font-family: verdana;
}

body{
    background-image: url("Theme.png");
    height: 120%;
}

#container{
    margin: 2%; 
    color:black;    
    
}
header{
    width:100%;
    background-color:#afd1ed;
    border:2px none blue;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;

    
}

header h1{
    font-weight : 600;
    color:black;
    font-size: 30px;   
   
}

header h2{
    
    font-weight : 600;
    color:black;
    font-size: 17px;
    line-height: 6%;
}

#navPannel ul {
    background-color: #93acb1;
    width:100%;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

#navPannel ul li{

    font-size: 18px;
    display:inline;
    padding: 100px;
    font-weight: lighter;    
    
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
    
}

#navPannel ul li a:link{
    color:black;
}

#navPannel ul li a:visited{
    color:black;
}

#navPannel ul li a:hover{
    background-color:#669fd0;
    border: 2px solid #6694d0;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 8px;
    padding-right: 8px;
    color:black;
}
section{
    background-color: #ffffff;
    height: 100%;
}

#leftPannel{
    margin :2% 2% 0% 2%;
    float: left;
    width: 25%;
    display: inline-block;
}

#centerPannel{
    display: inline-block;
     margin :2% 2% 0% 2%;
    float: left;
    width:35%;
}
.greyPannel{
    background-color: #e2e7ea;
    padding:10px;
    border-radius: 10px;
    
}
.whitePannel{
    
    background-color:#f2fff0;
    border-radius: 10px;
    margin-bottom: 30px;
    
   
}
#leftPannel .whitePannel ul {
    margin: 0px 10px 20px 0px;
    padding: 10px;
}

#leftPannel .whitePannel ul li{
    
    padding: 10px;
}

#leftPannel .whitePannel ul li:hover{
    background-color:#afd1ed;
    border-radius: 10px;
    width: 100%;
}

.whitePannel p{
    margin: 10px;
}

#rightPannel{
    display: inline-block;
    margin :2% 2% 0% 2%;
    float: left;
    width: 25%;
}

#rightPannel .whitePannel input{
    display: block;
    width: 80%;
    height: 4% ;
    margin-left :12px;
    margin-bottom: 16px;
    
}

#rightPannel .whitePannel button{
    margin-left :12px;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
        
}

#rightPannel .whitePannel ul{
     margin: -6px 10px 20px 0px;
    padding: 10px;
}
.clear{
    clear: both;
}

#rightPannel .whitePannel ul li{
    padding :8px;
    
}

#rightPannel .whitePannel ul li:hover{
    background-color:#afd1ed;
    border-radius: 10px;
    width: 100%;
}

#adjust{
    
}
#adjust .artWorkImage{
    margin-top: 10px;
    margin-left: 20px;
    width: 85%;
    border: 2px grey;
    border-style: ridge;
    padding: 5px;
    border-radius: 10px;
    
}



#adjustPara{
    margin-top: 2%;
    border: 2px none black;
    text-align: center;
    font-size: 17px;
}

footer{
    text-align: center;
    width:100%;
    background-color:#afd1ed;
    border:2px none blue;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}