body {
    display: block;
    margin-top: 100px;
    margin-left: 40%;
}

#divBox {
    width: 250px;
    height: 250px;
    padding-bottom: 80px;
    margin-left: 8%;
}

#animateDiv {
    width: 200px;
    height: 200px;
    background-color: forestgreen;
    position: relative;
}